#sisot configuration
#Thu Jun 26 20:05:29 EDT 2014
# twitter api keys
api.key=XXXXXXXXXXXXXXXXXXXXXX
access.token=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
api.secret=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
access.secret=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
# local dir for storing files
data.dir=/path/to/sisot/data
# solr base url
solr.base=http://localhost:8080/solr/sisot
