<?xml version="1.0"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
    version="3.0" metadata-complete="true"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                        http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

  <display-name>sisot</display-name>
  <description>stuff i saw on twitter</description>
  <servlet>
    <servlet-name>Indexer</servlet-name>
    <servlet-class>org.ticklefish.sisot.Indexer</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>Search</servlet-name>
    <servlet-class>org.ticklefish.sisot.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>search</welcome-file>
  </welcome-file-list>
</web-app>
